/* Enter your custom styles here */

.sapMTB.myToolbar{
    background-color:rgba(135, 206, 250, 0.735)!important; /* blue gradient */
    color: rgb(244, 244, 244);
    font-weight: bold;
    border-radius: 6px;
    padding: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}